.loft-style-photo {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.loftstylephotoimg {
  width: 100%;
}

.important-information {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

@media (min-width: 700px) {
  .important-information {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.line-columns {
  margin: 10px;
  margin-left: 25px;
}

.decor-string {
  height: 2px;
  width: 100px;
  background-color: #c8693a;
}

.line-columns p {
  color: var(--decoration-color);
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.line-columns span {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  font-family: Rubik, sans-serif;
}
